<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JavaScript: Hallo Welt</title>
    <link rel="stylesheet" href="/static/elements.css">
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type="text/javascript">
      var game_id = "{{game_id}}"
    </script>
    <script type="text/javascript" src="/static/main.js"></script>
    <script src="/static/logic.js"></script>
    <noscript>
      Needs javascript
    </noscript>
  </head>
  <body>
      <body>
    <div class="player" id="other">
  	<div class="hand" id="hand_hidden">
    </div>
  	<div class="hand" id="board_other">
    </div>
    </div>
    <div class="hand middle" id="middle">
      <div class="scorebox" id="score middle">
        0
        </div>
    </div>
    <div class="player" id="player">
  	<div class="hand" id="board">
    </div>
    <div class="hand playercard" id="hand_player">
      <div class="scorebox" id="score player">
        0
      </div>
    </div>
    </div>
    <!-- page content -->
    <button id="knock">Knock!</button>
    <button id="drop6">Drop 6</button>
  </body>

  
